@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Defino los colores para todo el sitio */
:root {
    --ColorEncabezado: #910973;
    --ColorFondo: #dfded9;
    --ColorFuente: #d6ad18;
    --ColorLink: #09c71c;
  }


html{
    font-size:13px;
}

/* Hago un Flexbox para mantener los bloques de Encabezado/Galeria/Pie controlados */
body{
    font-family: "Poppins", sans-serif;
    font-size:1rem;
    background: var(--ColorFondo);
    color: var(--ColorFuente);
}

body {
    display: flex;
    flex-direction: column;
    /* overflow-y: hidden; */
}



.navbar{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background: var(--ColorEncabezado); /*#101d23;*/
    padding:0 5%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000; /*Esto hace que quede en primer plano*/
}


/*  Logo  */
.logo{
    width:5rem
}

.logo img{
    width:100%;
}

.logo img:hover{
    transition: all 0.3s;
    transform: scale(1.1);
}


/*  Menu */
.menu{
    list-style: none;
}

.menu li{
    position: relative;
    float:left;
}

.menu li a{
    font-family: "Poppins", sans-serif;
    font-size:1.2rem;
    color: var(--ColorFuente);
    display:block;
    text-decoration: none;
    padding:1rem 1.5rem;
}

.menu li a:hover{
    color: var(--ColorLink);
    background: rgba(0, 0, 0, 0.2); 
}    

.submenu{
    position: absolute;
    left:0;
    background: var(--ColorEncabezado);
    display:none;
    transition: all .3s ease-in-out;
}

/* Acá tenemos la goma! ***************************************************/
.submenu-wrapper:hover .submenu {
    display: initial;
}

.submenu-wrapper:focus-within {
    display: initial;
}

.submenu:focus-within {
    display:none;
}

.submenu li{
    width:100%;
    border-top:.1rem solid var(--ColorFuente);
    list-style: none;
}

/* Botón hamburguesa Responsive */
.toggle-btn {
    display: none; /* Initially hide the toggle button */
    z-index:1000;
}

.icon {
    position: relative;
    width: 1.5rem;
    height: .8rem;
    cursor: pointer;
    z-index:100;
}

.icon::before {
    top: 0;
    right:0;
    content: '';
    position: absolute;
    width: 2rem;
    height: .2rem;
    background-color: var(--ColorFondo); /*#d6e0f9;*/
    transition: all 0.3s ease-in-out;
}

.icon::after {
    bottom: 0;
    right:0;
    content: '';
    position: absolute;
    width: 1.5rem;
    height: .2rem;
    background-color: var(--ColorFondo); /*#d6e0f9;*/
    transition: transform 0.3s ease-in-out;
}

.icon.active::before {
    width:1.5rem;
    transform: rotate(-45deg) translate(-0.21rem, 0.21rem);
}

.icon.active::after {
    transform: rotate(45deg) translate(-0.21rem, -0.21rem);
}


@media (max-width: 991px){
    .toggle-btn{
        display: block;
    }

    .menu{
        width:100%;
        position:absolute;
        top:100%;
        left:0;
        background: var(--ColorEncabezado); /*#101d23;*/
        border-top: .1rem solid var(--ColorFuente);
        display:none;
    }

    .menu.active{
        display:initial
    }

    .menu li{
        width:100%;
        border-top: .1rem solid var(--ColorFuente);
    }

    .submenu{
        position: relative;
        width:100%;
    }

    .submenu li{
        background: var(--ColorEncabezado); 
        border-top: .1rem solid var(--ColorFuente);
    }

    .submenu li a{
        padding-left:2rem;
    }
}


.Galeria {
    flex: 1;
    padding: 5px;
    margin-top: 50px; /* Ajustar este valor según la altura del encabezado */
    margin-bottom: 40px; /* Ajustar este valor según la altura del pie de página */
    overflow-y: visible; /* Habilitar desplazamiento vertical */
    
}

/***** Acerca *****/
.Acerca{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: center;
    padding: 5% 5%;  
  }
  
  
  
  .Cuerpo .Acerca li{
    list-style: none;
  }
  
  .Imagen-Acerca img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    padding: 5% 5%;
  }
  
  .Texto-Acerca img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    padding: 5% 5%;
  }

/***** Footer *****/

.pie-pagina {
    background:  var(--ColorEncabezado);
    position: fixed ; 
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 5%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 
    border-top: 1px solid var(--ColorFuente);
/*   
    z-index: 1000; */
  }
  
  .logo-Pie img{
    width: 35px;
    height: 25px;
    transition: all 0.3s;
  }
  
  .logo-Pie img:hover{
    transform: scale(1.2);
    } 
  
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .socials li{
    margin: 0 5px;
  }
  
  .socials a i{
    text-decoration: none;
    color: var(--ColorFuente);
    width: 20px;
    /* padding: 10px; */
    transition: all 0.3s;
  }
  
  .socials a i:hover{
    color: var(--ColorLink);
    transform: scale(1.2);
  }
  
  .derechos p{
    display: flex;
    text-align: center;  
    font-size: 12px;
    color: var(--ColorFuente);
    padding-left: 30px;
    transition: all 0.3s;        
  }
  
  .derechos p:hover{ 
    color: var(--ColorLink);
    transform: scale(1.2);   
  }

  