/*Limpia*/
body{font-family: Arial,serif;}

.clear{width:100%;clear:both;}

/*Flex*/
.gallery {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
} 

/*Estilos Base*/
.contenedor-img {
    width: 420px;
    height: 235px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: rgba(10, 10, 10, 0.936);
}

.contenedor-img .mascara,.contenedor-img .contenido {
    width: 420px;
    height: 235px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.contenedor-img img {
    display: block;
    position: relative;
    
}
.contenedor-img h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.9);
    margin: 20px 0 0 0
}
.contenedor-img p {    
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 10px;
    text-align: center
}
.contenedor-img a.link {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #222;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
    .contenedor-img a.link:hover {
        box-shadow: 0 0 5px #000
    }
        
     


.hover-1 img { 
  transition: all 0.2s linear;
}
.hover-1 .mascara {
  opacity: 0;
  background-color: rgba(71, 74, 73, 0.7); /*Este es el color de la mascara*/
  transition: all 0.3s ease-in-out;
}
.hover-1 h2 {
transform: translateX(-200px);
opacity: 0;
transition: all 0.7s ease-in-out;
}
.hover-1 p { 
transform: translateX(200px);
opacity: 0;
transition: all 0.4s linear;
}
.hover-1 a.link{
opacity: 0;
transition: all 0.4s ease-in-out;
transform: translateY(100px)
}
.hover-1:hover img { 
transform: scale(1.05);
filter: blur(3px);
} 
.hover-1:hover .mascara { 
opacity: 1;
}
.hover-1:hover h2,
.hover-1:hover p,
.hover-1:hover a.link {
opacity: 1;
transform: translateX(0px);
}
.hover-1:hover p {
transition-delay: 0.1s;
}
.hover-1:hover a.link {
transition-delay: 0.2s;
transform: translateY(0px);
}


/*Media query*/
@media screen and (max-width: 840px) {
.grid {
grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width: 420px) {
.grid {
grid-template-columns: 1fr;
}
}